extends layout

block content
  h1(align='center') Inicia Sesión en #{title}
  br
  div(align='center')
    table
    tr 
      th 
        a(href="login_cliente") Cliente
      th 
        a(href="login_trabajador") Trabajador
